 [submodule "MiscMath"]
	path = MiscMath
	url = https://github.com/nowireless/MiscMath.git
[submodule "Serial"]
	path = Serial
	url = https://github.com/nowireless/Serial.git
[submodule "NowirelessCommon"]
	path = NowirelessCommon
	url = https://github.com/nowireless/NowirelessCommon.git
